<p><%= t('.greeting', :recipient => @resource.email, :default => "Welcome #{@resource.email}!") %></p>

<p><%= t('.instruction', :default => "Você pode confirmar sua conta através do link abaixo:") %></p>

<p><%= link_to t('.action', :default => "Confirmar minha conta"),
         confirmation_url(@resource, :confirmation_token => @token, locale: I18n.locale) %></p>
