<p><%= t('.greeting', :recipient => @resource.email, :default => "Olá #{@resource.email}!") %></p>

<p><%= t('.instruction', :default => "Alguém solicitou um link para mudar sua senha, e voce pode alterá-la através do link abaixo.") %></p>

<p><%= link_to t('.action', :default => "Alterar minha senha"), edit_password_url(@resource, :reset_password_token => @token, locale: I18n.locale) %></p>

<p><%= t('.instruction_2', :default => "Se você não solicitou isso, favor ignorar este e-mail.") %></p>
<p><%= t('.instruction_3', :default => "Sua senha não será alterada até que você clique no link abaixo e crie uma nova senha.") %></p>
