<p><%= t('.greeting', :recipient => @resource.email, :default => "Olá #{@resource.email}!") %></p>

<p><%= t('.message', :default => "Sua conta foi bloqueada devido à quantidade excedida de tentativas de login sem sucesso.") %></p>

<p><%= t('.instruction', :default => "Clique no link abaixo para desbloquear sua conta:") %></p>

<p><%= link_to t('.action', :default => "Desbloquear minha conta"), unlock_url(@resource, :unlock_token => @resource.unlock_token, locale: I18n.locale) %></p>
