<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.resend_confirmation_instructions', :default => 'Reenviar instruções de confirmação') %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, role: "form" }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control"  %>
      </div>

      <%= f.submit t('.resend_confirmation_instructions', :default => 'Reenviar instruções de confirmação'), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
