<% if @area.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@area.errors.count, "erro") %> proibiu esta área de ser criada:</h2>
    <ul>
    <% @area.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@area, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :nome %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :nome, class: "form-control"%>
      </div>
    </div>
    <div class="col-sm-10" align="center">
      <%= link_to 'Voltar', areas_path, class: 'btn btn-default', align: 'left'%>
      <%= f.submit "Criar Área", class: "btn btn-success", align: 'right' %>
    </div>
  <% end %>
  </div>
</div>
