<div class="container">
  <div class="page-header">
    <h1>Todas Áreas</h1>
  </div>
  <% @areas.each do |area| %>
  <li><%= area.nome %></li>
  <%= link_to 'Editar', edit_area_path(area) %>
  <%= link_to 'Deletar', area, method: :delete, data: { confirm: 'Tem certeza?' } %>
  <% end %>
</div>
