<% if @orders.exists? %>
  <h4> Seguem solicitações não lidas </h4>
    <div class="container">
      <div class="row col-md-12">
        <%= render 'orders/orders' %>
      </div>
    </div>
<% else %>
  <h4>Todas solicitações foram lidas<h4>
<% end %>
