<div class="container">
  <div class="page-header">
    <h1>Usuário: <%= @user.nome %></h1>
  </div>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= @user.nome %>
  </p>

  <p>
    <strong>CEP:</strong>
    <%= @user.endereco_cep %>
  </p>

  <p>
    <strong>Rua:</strong>
    <%= @user.endereco_rua %>
  </p>

  <p>
    <strong>Número:</strong>
    <%= @user.endereco_numero %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= @user.endereco_bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= @user.endereco_cidade %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= @user.endereco_estado %>
  </p>

  <p>
    <strong>ADMINISTRADOR:</strong>
    <% if @user.admin? %>
      SIM
      <%= link_to "Tirar administrador", {action: "tirar_admin", id: @user.id }, method: :put, class: 'btn btn-danger'%>
    <% else %>
      NÃO
      <%= link_to "Tornar administrador", {action: "tornar_admin", id: @user.id }, method: :put, class: 'btn btn-success' %>
    <% end %>
  </p>

  <p>
    <strong>REPRESENTANTE:</strong>
    <% if @user.representante? %>
      SIM
      <%= link_to "Tirar representante", {action: "tirar_representante", id: @user.id }, method: :put, class: 'btn btn-danger' %>
    <% else %>
      NÃO
      <%= link_to "Tornar representante", {action: "tornar_representante", id: @user.id }, method: :put, class: 'btn btn-success'%>
    <% end %>
  </p>
</div>
