<p>
  <strong>Comentários:</strong>
</p>
<div class="chat">
  <% @comments.each do |comment| %>
      <div class="chat-history">
        <ul class="chat-ul">
          <% if comment.user.representante? %>
          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-name"><%= comment.user.nome %> em <%= comment.created_at %></span> <i class="fa fa-circle representante"></i>
            </div>
            <div class="message representante-message float-right">
              <%= comment.content %>
            </div>
          </li>
          <% end %>
          <% if comment.user.admin? %>
            <li class="clearfix">
              <div class="message-data align-right">
                <span class="message-data-name">Atendente em <%= comment.created_at %></span> <i class="fa fa-circle me"></i>
              </div>
              <div class="message me-message float-right">
                <%= comment.content %>
              </div>
            </li>
          <% end %>
          <% if !comment.user.representante && !comment.user.admin %>
            <li>
              <div class="message-data">
                <span class="message-data-name"><i class="fa fa-circle you"></i>Você em <%= comment.created_at %></span>
              </div>
              <div class="message you-message">
                <%= comment.content %>
              </div>
            </li>
          <% end %>
        </ul>
      </div> <!-- end chat-history -->
      <% end %>
    </div> <!-- end chat -->
