<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "erro") %> proibiu/proibiram este comentário de ser criado:</h2>

    <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <%= form_for([@commentable, @comment], :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-sm-1">
        <%= f.label :content, "Comentar" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_area :content, class: "form-control"%>
      </div>
    </div>
    <div class="col-sm-10" align="center">
      <%= f.submit "Comentar", class: "btn btn-success", align: 'right' %>
    </div>
    <% end %>
  </div>
</div>
