<div class="row" align="center">
  <%= link_to "Criar Área", new_area_path, class: 'btn btn-success btn-md'%>
</div>
<p>

</p>
<% if @chamados.exists? %>
  <h4> Seguem chamados não lidos </h4>
    <%= render 'chamados/chamados' %>
<% else %>
  <h4>Todas chamados foram lidos<h4>
<% end %>
