<% if @comments.exists? %>
  <h4> Seguem os últimos comentários</h4>
    <div class="container">
        <div class="row col-md-12">
          <div align="center">
            <%= will_paginate @comments %>
          </div>
        <% @comments.each do |comment| %>
          <% if comment.commentable_type == "Order" %>
            <li>Garantia # <%=comment.commentable_id %> | Comentário: <%= comment.content %> em <%= comment.created_at %></li>
          <% else %>
            <li>Chamado # <%=comment.commentable_id %> | Comentário: <%= comment.content %> em <%= comment.created_at %></li>
          <% end %>
        <% end %>
      </div>
    </div>
<% else %>
  <h4>Não existem comentários<h4>
<% end %>
