<h4 align="center"> Todos os usuários </h4>
<div align="center">
    <div class="container">
        <div class="row col-md-12">
        <div align="center">
          <%= will_paginate @users %>
        </div>
        <table class="table table-striped table-hover">
        <thead>
          <tr>
                <th style="text-align:center;">#</th>
                <th style="text-align:center;">Email</th>
                <th style="text-align:center;">Nome</th>
                <th style="text-align:center;">Admin</th>
                <th style="text-align:center;">Repres.</th>
                <th style="text-align:center;"></th>
            </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td align="center"><%= user.id %></td>
            <td align="center"><%= user.email %></td>
            <td align="center"><%= user.nome %></td>
            <td align="center"><% if user.admin? %> <span class="label label-success">Sim</span> <% else %> <span class="label label-danger">Não</span> <% end %> </td>
            <td align="center"><% if user.representante? %> <span class="label label-success">Sim</span> <% else %> <span class="label label-danger">Não</span> <% end %> </td>
            <td align="center"><%= link_to 'Ver', user, class: 'btn btn-sm btn-primary'%></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
    </div>
</div>
