<script language="JavaScript">
 /*
 A função Mascara tera como valores no argumento os dados inseridos no input (ou no evento onkeypress)
 onkeypress="mascara(this, '## ####-####')"
 onkeypress = chama uma função quando uma tecla é pressionada, no exemplo acima, chama a função mascara e define os valores do argumento na função
 O primeiro valor é o this, é o Apontador/Indicador da Mascara, o '## ####-####' é o modelo / formato da mascara
 no exemplo acima o # indica os números, e o - (hifen) o caracter que será inserido entre os números, ou seja, no exemplo acima o telefone ficara assim: 11-4000-3562
 para o celular de são paulo o modelo deverá ser assim: '## #####-####' [11 98563-1254]
 para o RG '##.###.###.# [40.123.456.7]
 para o CPF '###.###.###.##' [789.456.123.10]
 Ou seja esta mascara tem como objetivo inserir o hifen ou espaço automáticamente quando o usuário inserir o número do celular, cpf, rg, etc

 lembrando que o hifen ou qualquer outro caracter é contado tambem, como: 11-4561-6543 temos 10 números e 2 hifens, por isso o valor de maxlength será 12
 <input type="text" name="telefone" onkeypress="mascara(this, '## ####-####')" maxlength="12">
 neste código não é possivel inserir () ou [], apenas . (ponto), - (hifén) ou espaço
 */

 function mascara(t, mask){
 var i = t.value.length;
 var saida = mask.substring(1,0);
 var texto = mask.substring(i)
 if (texto.substring(0,1) != saida){
 t.value += texto.substring(0,1);
 }
 }
 </script>


<!-- Adicionando JQuery -->
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- Adicionando Javascript -->
    <script type="text/javascript" >

        $(document).ready(function() {

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#rua").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
                $("#ibge").val("");
            }

            //Quando o campo cep perde o foco.
            $("#cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#rua").val("...");
                        $("#bairro").val("...");
                        $("#cidade").val("...");
                        $("#uf").val("...");
                        $("#ibge").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#rua").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#cidade").val(dados.localidade);
                                $("#uf").val(dados.uf);
                                $("#ibge").val(dados.ibge);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });

    </script>

<%= bootstrap_devise_error_messages! %>
<div class="well bs-component">
    <fieldset>
      <div class="panel-heading">
        <h4><%= t('.sign_up', :default => "Inscrever-se") %></h4>
      </div>
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, "Senha" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "Confirme sua senha" %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :nome , "Nome da ótica"%>
            <%= f.text_field :nome, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :cnpj , "C.N.P.J."%>
            <%= f.text_field :cnpj, class: "form-control", onkeypress: "mascara(this, '##.###.###/####-##')", maxlength: "18"%>
          </div>
          <div class="form-group">
            <%= f.label :endereco_cep, "CEP" %>
            <%= f.text_field :endereco_cep, class: "form-control", :id => "cep" , onblur: "pesquisacep(this.value);", onkeypress: "mascara(this, '#####-###')", maxlength: "9", data: {toggle: "modal", target: "#myModal"}%>
          </div>
          <div class="form-group">
            <%= f.label :endereco_rua, "Rua" %>
            <%= f.text_field :endereco_rua, class: "form-control mdshow", :id => "rua" %>
          </div>
          <div class="form-group">
            <%= f.label :endereco_numero, "Número" %>
            <%= f.text_field :endereco_numero, class: "form-control"%>
          </div>
          <div class="form-group">
            <%= f.label :endereco_bairro, "Bairro" %>
            <%= f.text_field :endereco_bairro, class: "form-control", :id => "bairro"%>
          </div>
          <div class="form-group">
            <%= f.label :endereco_cidade, "Cidade" %>
            <%= f.text_field :endereco_cidade, class: "form-control", :id => "cidade" %>
          </div>
          <div class="form-group">
            <%= f.label :endereco_estado, "Estado" %>
            <%= f.text_field :endereco_estado, class: "form-control", :id => "uf"%>
          </div>
          <%= f.submit t('.sign_up', :default => "Inscrever-se"), class: "btn btn-primary" %>
        <% end %>
      </div>
    </fieldset>
</div>
<%= render "devise/shared/links" %>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Atenção!</h4>
      </div>
      <div class="modal-body">
        <p>O endereço cadastrado, será o endereço de envio!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>
