<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.resend_unlock_instructions', :default => "Reenviar instruções de desbloqueio") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, html: { role: "form" } }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <%= f.submit t('.resend_unlock_instructions', :default => "Reenviar instruções de desbloqueio"), class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
