<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>


<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "erro") %> proibiu/proibiram esta garantia ser solicitada:</h2>

    <ul>
    <% @order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
    <div class="row">
      <div class="col-xs-12">
        <%= form_for(@order, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :referencia %>
          </div>
          <div class="col-sm-10">
            <%= f.text_field :referencia, class: "form-control", data: {toggle: "modal", target: "#myModal"}  %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :motivo %>
          </div>
          <div class="col-sm-10">
            <%= f.text_field :motivo, 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Ex.: Quebrou no frontal, pintura danificada, etc.', class: "form-control"%>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :representante %>
          </div>
          <div class="col-sm-10">
            <%= f.collection_select(:representante, User.all.where(:representante => true), :nome, :nome, {:prompt=>true}, {:class=>'form-control'})%>
          </div>
        </div>
        <% if current_user.admin? || current_user.representante? %>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :estado %>
          </div>
          <div class="col-sm-10">
            <%= f.select(:estado, ['Solicitado', 'Em processo de fabricação', 'Garantia pronta em nossas mãos', 'Enviada'], {}, { :class => 'form-control' }) %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :rastreio %>
          </div>
          <div class="col-sm-10">
            <%= f.text_field :rastreio, 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Ex.: DN123456789BR', class: "form-control"%>
          </div>
        </div>
        <% end %>
         <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :imagem %>
          </div>
          <div class="col-sm-10">
            <!--<label class="btn btn-primary btn-file" data-toggle="tooltip" title="Coloque uma foto do defeito" data-placement="top">
              Anexar foto <input type="file" style="display: none;">
            </label>!-->
            <%= f.file_field :imagem %>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-danger">Observação: favor devolver a armação com defeito em até 30 dias após o recebimento da garantia, para o endereço do remetente!</li>
        </ul>
        <div class="col-sm-10" align="center">
          <%= link_to 'Voltar', orders_path, class: 'btn btn-default', align: 'left'%>
          <%= f.submit "Solicitar", class: "btn btn-success", align: 'right' %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Atenção!</h4>
        </div>
        <div class="modal-body">
          <p>Ex: 9001 T49 C011 / 4009 T50 C268 / 6004 T51 C253 (favor separar as referências)</p>
          <p>Só realizaremos trocas pela mesma referência com defeito!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>

    </div>
  </div>
