<div class="container" style="margin-top: 1%;">
  <div class="col-md-6 col-md-offset-3">
    <form role="form">
      <div class="row">
        <div class="form-group">
          <div class="input-group">
            <% if !current_user.admin? && !current_user.representante? %>
              <%= search_form_for @q do |f| %>
              <%= f.search_field :referencia_cont, class: 'form-control', placeholder: 'Procurar por referência...' %>
              <% end %>
            <% end %>
            <% if current_user.representante? %>
              <%= search_form_for @q do |f| %>
              <%= f.search_field :referencia_or_user_nome_cont, class: 'form-control', placeholder: 'Procurar por referência ou nome da ótica...' %>
              <% end %>
            <% end %>
            <% if current_user.admin? %>
              <%= search_form_for @q do |f| %>
              <%= f.search_field :referencia_or_representante_or_user_nome_cont, class: 'form-control', placeholder: 'Procurar por referência ou representante ou nome...' %>
              <% end %>
            <% end %>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></button>
            </span>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row" align="center">
  <%= will_paginate @orders %>
</div>
<table class="table table-striped table-hover">
<thead>
  <tr>
        <th style="text-align:center;">#</th>
        <th style="text-align:center;">Ref.</th>
        <th style="text-align:center;">Estado</th>
        <th style="text-align:center;">Devolvida</th>
        <% if current_user.representante? || current_user.admin? %>
        <th style="text-align:center;">Pedir</th>
        <% end %>
        <th style="text-align:center;"></th>
        <% if current_user.admin? || current_user.representante? %>
        <th style="text-align:center;">Nome</th>
        <% end %>
        <% if current_user.admin? %>
        <th style="text-align:center;">Representante</th>
        <% end %>
    </tr>
</thead>
<tbody>
<% @orders.each do |order| %>
<% if current_user == order.user || current_user.admin? || current_user.nome == order.representante %>
  <tr>
    <td align="center"><%= order.id %></td>
    <td align="center" class="whatever"><%= order.referencia %></td>
    <td align="center">
      <% case order.estado %>
        <% when 'Solicitado' %>
          <span class="label label-primary">Solicitado</span>
        <% when "Em processo de fabricação" %>
          <span class="label label-primary">Em fabricação</span>
        <% when "Garantia pronta em nossas mãos" %>
          <span class="label label-info">Garantia pronta</span>
        <% when "Enviada" %>
          <span class="label label-success">Enviada</span>
      <% end %></td>
    <td align="center" valign="middle">
      <% if order.devolvida? %>
        <span class="label label-success">Sim</span>
      <% else %>
        <span class="label label-danger">Não</span>
      <% end %></td>
    <% if current_user.representante? || current_user.admin? %>
      <td align="center" valign="middle">
        <% if order.pedir? %>
          <span class="label label-success">Sim</span>
        <% else %>
          <span class="label label-danger">Não</span>
        <% end %></td>
    <% end %>
    <td align="center"><%= link_to 'Ver', order, class: 'btn btn-sm btn-primary'%>
      <% if current_user.admin? || current_user.representante? %>
        <%= link_to 'Editar', edit_order_path(order), class: 'btn btn-sm btn-primary'%></td>
    <td align="center"><%= order.user.nome %></td>
      <% end %>
    <% if current_user.admin? %>
    <td align="center"><%= order.representante %></td>
    <% end %>
  </tr>
<% end %>
<% end %>
</tbody>
</table>
