<div class="container">


            <div class="row bs-wizard" style="border-bottom:0;">

                <div class="col-xs-3 bs-wizard-step complete"><!--complete -->
                  <div class="text-center bs-wizard-stepnum">Passo 1</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">A garantia foi solicitada. Recebemos ela e teremos de verificar se temos em estoque ou se será necessário produzi-la.</div>
                </div>

                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Passo 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Em processo de fabricação. Receberemos a garantia em torno de 10 dias úteis.</div>
                </div>

                <div class="col-xs-3 bs-wizard-step active"><!-- disabled -->
                  <div class="text-center bs-wizard-stepnum">Passo 3</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Recebemos a garantia da fábrica. Iremos enviar sua garantia pelo vendedor, ou pelos Correios.</div>
                </div>

                <div class="col-xs-3 bs-wizard-step disabled"><!-- disabled -->
                  <div class="text-center bs-wizard-stepnum">Passo 4</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Garantia enviada pelos Correios ou pelo vendedor.</div>
                </div>
            </div>
	</div>
