<div class="container">
  <div class="row col-md-12">
    <div class="row" align="center">
      <%= link_to "Solicitar garantia", new_order_path, class: 'btn btn-success btn-md'%>
    </div>
    <p>
    <% if @orders.count >= 1 %>
      <% if current_user.admin? %>
        <div class="row" align="center">
          <%= link_to 'Apagar garantias antigas', destroy_old_data_orders_path, method: :delete, class: 'btn btn-md btn-danger' %>
        </div>
        <p>
      <% end %>
      <%= render 'orders' %>
    <% else %>
      <h4>Você ainda não possui solicitações!</h4>
    <% end %>
  </div>
</div>
