<div class="container">
  <div class="page-header">
    <h1>Garantia # <%= @order.id %>:</h1>
  </div>
  <p>
    <strong>Referencia:</strong>
    <%= @order.referencia %>
  </p>

  <p>
    <strong>Motivo:</strong>
    <%= @order.motivo %>
  </p>

  <p>
    <strong>Imagem:</strong>
    <%= image_tag(@order.imagem, :class =>"img-responsive no-resize") %>
  </p>

  <p>
    <strong>Representante:</strong>
    <%= @order.representante %>
  </p>

  <p>
    <% if @order.updated_at == @order.created_at %>
      <strong>Solicitada em:</strong>
      <%= @order.created_at %>
    <% else %>
      <strong>Solicitada em:</strong>
      <%= @order.created_at %>
      <strong> Editada em:</strong>
      <%= @order.updated_at %>
    <% end %>
  </p>

  <p>
    <strong>Estado:</strong>
    <% case @order.estado %>
      <% when 'Solicitado' %>
        <span class="label label-primary">Solicitado</span>
      <% when "Em processo de fabricação" %>
        <span class="label label-primary">Em processo de fabricação</span>
      <% when "Garantia pronta em nossas mãos" %>
        <span class="label label-info">Garantia pronta em nossas mãos</span>
      <% when "Enviada" %>
        <span class="label label-success">Enviada</span>
    <% end %>
  </p>

  <p>
    <% if current_user.representante? || current_user.admin? %>
      <strong>Pedir:</strong>
        <% if @order.pedir? %>
          Sim
          <%= link_to "NÃO tem que pedir", {action: "nao_tem_que_pedir", id: @order.id }, method: :put, class: 'btn btn-sm btn-danger'%>
        <% else %>
          Não
          <%= link_to "Tem que pedir", {action: "tem_que_pedir", id: @order.id }, method: :put, class: 'btn btn-sm btn-success'%>
        <% end %>
    <% end %>
  </p>

  <p>
    <strong>Devolvida:</strong>
    <% if @order.devolvida? %>
      <span class="label label-success">Sim</span>
      <% if current_user.admin? || (@order.representante == current_user.nome)%>
        <%= link_to "Marcar como não devolvida", {action: "tornar_nao_devolvida", id: @order.id }, method: :put, class: 'btn btn-sm btn-danger'%>
      <% end %>
    <% else %>
      <span class="label label-danger">Não</span>
      <% if current_user.admin? || (@order.representante == current_user.nome)%>
        <%= link_to "Marcar como devolvida", {action: "tornar_devolvida", id: @order.id }, method: :put, class: 'btn btn-sm btn-danger'%>
      <% end %>
    <% end %>
  </p>

  <p>
    <% case @order.estado %>
      <% when "Solicitado" %>
        <%= render 'passo1' %>
      <% when "Em processo de fabricação" %>
        <%= render 'passo2' %>
      <% when "Garantia pronta em nossas mãos" %>
        <%= render 'passo3' %>
      <% when "Enviada" %>
        <%= render 'passo4' %>
    <% end %>
  </p>

  <p>
    <% if @order.rastreio %>
    <strong>Rastreio:</strong>
    <%= @order.rastreio %>
      <% case @object.events.size %>
        <% when 1 %>
          <p>
            <%= @object.events.first.date %>
            <%= @object.events.first.hour %>
            <%= @object.events.first.place %>
            <%= @object.events.first.description %>
          </p>
        <% when 2 %>
          <p>
            <%= @object.events.first.date %>
            <%= @object.events.first.hour %>
            <%= @object.events.first.place %>
            <%= @object.events.first.description %>
          </p>
          <p>
            <%= @object.events.second.date %>
            <%= @object.events.second.hour %>
            <%= @object.events.second.place %>
            <%= @object.events.second.description %>
          </p>
        <% when 3 %>
          <p>
            <%= @object.events.first.date %>
            <%= @object.events.first.hour %>
            <%= @object.events.first.place %>
            <%= @object.events.first.description %>
          </p>
          <p>
            <%= @object.events.second.date %>
            <%= @object.events.second.hour %>
            <%= @object.events.second.place %>
            <%= @object.events.second.description %>
          </p>
          <p>
            <%= @object.events.third.date %>
            <%= @object.events.third.hour %>
            <%= @object.events.third.place %>
            <%= @object.events.third.description %>
          </p>
        <% when 4 %>
          <p>
            <%= @object.events.first.date %>
            <%= @object.events.first.hour %>
            <%= @object.events.first.place %>
            <%= @object.events.first.description %>
          </p>
          <p>
            <%= @object.events.second.date %>
            <%= @object.events.second.hour %>
            <%= @object.events.second.place %>
            <%= @object.events.second.description %>
          </p>
          <p>
            <%= @object.events.third.date %>
            <%= @object.events.third.hour %>
            <%= @object.events.third.place %>
            <%= @object.events.third.description %>
          </p>
          <p>
            <%= @object.events.fourth.date %>
            <%= @object.events.fourth.hour %>
            <%= @object.events.fourth.place %>
            <%= @object.events.fourth.description %>
          </p>
        <% when 5 %>
          <p>
            <%= @object.events.first.date %>
            <%= @object.events.first.hour %>
            <%= @object.events.first.place %>
            <%= @object.events.first.description %>
          </p>
          <p>
            <%= @object.events.second.date %>
            <%= @object.events.second.hour %>
            <%= @object.events.second.place %>
            <%= @object.events.second.description %>
          </p>
          <p>
            <%= @object.events.third.date %>
            <%= @object.events.third.hour %>
            <%= @object.events.third.place %>
            <%= @object.events.third.description %>
          </p>
          <p>
            <%= @object.events.fourth.date %>
            <%= @object.events.fourth.hour %>
            <%= @object.events.fourth.place %>
            <%= @object.events.fourth.description %>
          </p>
          <p>
            <%= @object.events.fifth.date %>
            <%= @object.events.fifth.hour %>
            <%= @object.events.fifth.place %>
            <%= @object.events.fifth.description %>
          </p>
        <% when 6 %>
          <p>
            <%= @object.events.first.date %>
            <%= @object.events.first.hour %>
            <%= @object.events.first.place %>
            <%= @object.events.first.description %>
          </p>
          <p>
            <%= @object.events.second.date %>
            <%= @object.events.second.hour %>
            <%= @object.events.second.place %>
            <%= @object.events.second.description %>
          </p>
          <p>
            <%= @object.events.third.date %>
            <%= @object.events.third.hour %>
            <%= @object.events.third.place %>
            <%= @object.events.third.description %>
          </p>
          <p>
            <%= @object.events.fourth.date %>
            <%= @object.events.fourth.hour %>
            <%= @object.events.fourth.place %>
            <%= @object.events.fourth.description %>
          </p>
          <p>
            <%= @object.events.fifth.date %>
            <%= @object.events.fifth.hour %>
            <%= @object.events.fifth.place %>
            <%= @object.events.fifth.description %>
          </p>
          <p>
            <%= @object.events.sixth.date %>
            <%= @object.events.sixth.hour %>
            <%= @object.events.sixth.place %>
            <%= @object.events.sixth.description %>
          </p>
        <% when  6..99 %>
          <p>
            <%= @object.events.first.date %>
            <%= @object.events.first.hour %>
            <%= @object.events.first.place %>
            <%= @object.events.first.description %>
          </p>
          <p>
            <%= @object.events.second.date %>
            <%= @object.events.second.hour %>
            <%= @object.events.second.place %>
            <%= @object.events.second.description %>
          </p>
          <p>
            <%= @object.events.third.date %>
            <%= @object.events.third.hour %>
            <%= @object.events.third.place %>
            <%= @object.events.third.description %>
          </p>
          <p>
            <%= @object.events.fourth.date %>
            <%= @object.events.fourth.hour %>
            <%= @object.events.fourth.place %>
            <%= @object.events.fourth.description %>
          </p>
          <p>
            <%= @object.events.fifth.date %>
            <%= @object.events.fifth.hour %>
            <%= @object.events.fifth.place %>
            <%= @object.events.fifth.description %>
          </p>
          <p>
            <%= @object.events.sixth.date %>
            <%= @object.events.sixth.hour %>
            <%= @object.events.sixth.place %>
            <%= @object.events.sixth.description %>
          </p>
        <% else %>
          <p>
            Não há registros sobre este objeto ainda!
          </p>
      <% end %>
    <% end %>

  </p>

  <p>
  <%= render 'comments/comments' %>
  <%= render 'comments/form' %>
  </p>

  <%= link_to 'Editar', edit_order_path(@order), class: 'btn btn-primary' %>
  <%= link_to 'Voltar', orders_path, class: 'btn btn-default' %>
</div>
