<div class="jumbotron">
  <h2>Bem vindo ao SAC da Paulo Carraro!</h2>
  <p>Criamos este sistema para melhor atendê-lo! </p>
  <p><%= link_to "Solicitar garantia", new_order_path, class: 'btn btn-success btn-lg' %></p>
  <p><%= link_to "Abrir chamado", new_chamado_path, class: 'btn btn-success btn-lg' %></p>
</div>
