<% @chamados.each do |chamado| %>
<% if current_user == chamado.user || current_user.admin? %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Chamado # <%=chamado.id %></h3>
  </div>
  <div class="panel-body">
    <p>
    <li>Área: <%= chamado.area %></li>
    <li>Assunto: <%= chamado.assunto %></li>
    <li>Descrição: <%= chamado.descricao %></li>
    <li>Estado:
      <% case chamado.estado %>
        <% when 'Aberto' %>
          <span class="label label-primary">Aberto</span></li>
        <% when "Em processo de resolução" %>
          <span class="label label-success">Em processo de resolução</span></li>
        <% when "Fechado" %>
          <span class="label label-default">Fechado</span></li>
      <% end %>
    </p>
    <%= link_to 'Editar', edit_chamado_path(chamado), class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Deletar', chamado, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-sm btn-danger' %>
    <%= link_to 'Ver', chamado, class: 'btn btn-sm btn-primary'%>
    <% if current_user.admin? %>
    Chamado aberto por: <%= chamado.user.nome %> | Email: <%= chamado.user.email %>
    <% end %>
  </div>
</div>
<% end %>
<% end %>
