<% if @chamado.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@chamado.errors.count, "erro") %> proibiu/proibiram este chamado ser aberto:</h2>
    <ul>
    <% @chamado.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@chamado, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :area %>
      </div>
      <div class="col-sm-10">
        <%= f.collection_select(:area, Area.all, :nome, :nome, {:prompt=>true}, {:class=>'form-control'})%>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :assunto %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :assunto, class: "form-control"%>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :descricao %>
      </div>
      <div class="col-sm-10">
        <%= f.text_area :descricao, class: "form-control", rows: "5"%>
      </div>
    </div>
    <% if current_user.admin? %>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :estado %>
      </div>
      <div class="col-sm-10">
        <%= f.select(:estado, ['Aberto', 'Em processo de resolução', 'Fechado'], {}, { :class => 'form-control' }) %>
      </div>
    </div>
    <% end %>
    <div class="col-sm-10" align="center">
      <%= link_to 'Voltar', chamados_path, class: 'btn btn-default', align: 'left'%>
      <%= f.submit "Abrir", class: "btn btn-success", align: 'right' %>
    </div>
  <% end %>
</div>
</div>
