<div class="container">
  <div class="row col-md-12">
    <div class="row" align="center">
      <%= link_to "Abrir chamado", new_chamado_path, class: 'btn btn-success btn-md'%>
    </div>
    <p>
    <% if @chamados.count >= 1 %>
      <%= render 'chamados' %>
    <% else %>
      <h4> Você ainda não possui chamados! </h4>
    <% end %>
  </div>
</div>
