<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Chamado # <%= @chamado.id %></h3>
  </div>
  <div class="panel-body">
    <li>Área: <%= @chamado.area %></li>
    <li>Assunto: <%= @chamado.assunto %></li>
    <li>Descrição: <%= @chamado.descricao %></li>
    <p><%= render 'comments/comments' %>
    <%= render 'comments/form' %></p>
  </div>
</div>
